body {
    font-family: 'Roboto', sans-serif;
    background-color: #d5d3da;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #a692d6;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #673ab7;
}

label {
    float: left;
    margin-top: 10px;
    color: #fcfcfc;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: none;
}

button {
    background-color: #673ab7; 
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #826faa;
}